/.idea
*.iml
/bin
__pycache__
.ipynb_checkpoints
/modules/iflab/pipelines/experimental
/sync.cmd
/mkdiff.cmd
/user.xsh
/home/*
!/home/default
/notebooks
/venv
/user-notebook-dev.cmd
/notebooks/outputs
/patches/deepfloyd_if-mod2.patch